# dependencias
node_modules/

# build
dist/



# archivos subidos por los usuarios en desarrollo local
uploads/

# logs
*.log
npm-debug.log*

# cobertura de tests
coverage/

# editor / SO
.vscode/
.DS_Store
